<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
      throwExceptions="false"
      internalLogLevel="off"
      internalLogFile="">

	<targets>
		<target name="NLogLM" xsi:type="NLogLoggingManagerTarget" layout="${longdate} [${level:uppercase=true}] [${callsite}] ${message} ${exception:format=ToString}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="NLogLM"/>
	</rules>
</nlog>